<h1>About Us</h1>

<p>Pulse is an open source JavaScript graphics engine built by the <a href="http://onmodulus.com">Modulus</a> team. It offers developers a simple framework to build HTML5 games, requiring only a few lines of JavaScript and a bit of HTML. It even has a simple to use plugin architecture allowing you to easily extend the core functionality.</p>

<p>Here are a few things Pulse will give you:</p>
<ul id="feature-list">
  <li>All the object types you need to build a game (sprites, scenes, etc.)</li>
  <li>HTML5 Canvas engine that is efficient yet powerful</li>
  <li>Support for sprite sheets and animations</li>
  <li>Asset Management done right</li>
  <li>Event manager that supports touch events</li>
  <li>Plugin architecture that is simple to use</li>
  <li>Open source so you can modify and share it however you want</li>
</ul>

<h2>Core Team</h2>

<ul id="team-list">
  <li>
    <a href="https://github.com/zwigby"><img src="/img/charlie_small.png" /></a>
    <h3><a href="https://github.com/zwigby">Charlie Key</a></h3>
    Charlie has five years of professional software development experience, with most of his focus on web development. He has a knack for making code play nice and bending servers to his will.
  </li>
  <li>
    <a href="https://github.com/InconceivableDuck"><img src="/img/brandon_small.png" /></a>
    <h3><a href="https://github.com/InconceivableDuck">Brandon Cannaday</a></h3>
    Brandon’s software development experience is spread over six years and includes a background in government defense and security. If there is anyone who can spot a security risk, it would be this guy.
  </li>
  <li>
    <a href="https://github.com/busyrich"><img src="/img/richard_small.png" /></a>
    <h3><a href="https://github.com/busyrich">Richard Key</a></h3>
    Richard is the new dev on campus. He has about two and a half years of software development under his belt, but brings a formal education in game development. We mainly keep him around to make sure the fridge is stocked.
  </li>
</ul>