<h1>About Us</h1>

<p>Pulse is an open source JavaScript graphics built by the <a href="http://onmodulus.com">Modulus</a> team.</p>

<h2>Core Team</h2>

<ul id="team-list">
  <li>
    <a href="https://github.com/zwigby"><img src="/img/charlie_small.png" /></a>
    <h3><a href="https://github.com/zwigby">Charlie Key</a></h3>
  </li>
  <li>
    <a href="https://github.com/InconceivableDuck"><img src="/img/brandon_small.png" /></a>
    <h3><a href="https://github.com/InconceivableDuck">Brandon Cannaday</a></h3>
  </li>
  <li>
    <a href="https://github.com/busyrich"><img src="/img/richard_small.png" /></a>
    <h3><a href="https://github.com/busyrich">Richard Key</a></h3>
  </li>
</ul>