<h1>Available Downloads</h1>


<h2>Current Release</h2>
<h3 id="current-release"><a href="/downloads/releases/pulse.1.2-r1.zip">1.2 - Release 1</a> <span>410kb</span></h3>
<a id="current-release-notes" href="/release-notes#1.2-r1">release notes</a>

<h2>Archives</h2>
<table id="release-table">
  <thead>
    <tr class="odd">
      <th class="release">Name</th>
      <th class="size">Size</th>
      <th class="date">Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="release"><a href="/release-notes#1.1-r2" title="1.1 r2 release notes">1.1 Release 2</a></td>
      <td>409 Kilobytes</td>
      <td>April 18, 2012</td>
      <td class="download-cell"><a href="http://www.withpulse.com/release/pulse.1.1-r2.zip" name="Pulse 1.1 Release 2 Download">Get Me</a></td>
    </tr>
    <tr class="odd">
      <td class="release"><a href="/release-notes#1.1-r1" title="1.1 r2 release notes">1.1 Release 1</a></td>
      <td>409 Kilobytes</td>
      <td>April 16, 2012</td>
      <td class="download-cell"><a href="http://www.withpulse.com/release/pulse.1.1-r1.zip" name="Pulse 1.1 Release 1 Download">Get Me</a></td>
    </tr>
    <tr>
      <td class="release"><a href="/release-notes#1.0-r1" title="1.1 r2 release notes">1.0 Release 1</a></td>
      <td>390 Kilobytes</td>
      <td>March 12, 2012</td>
      <td class="download-cell"><a href="http://www.withpulse.com/release/pulse.1.0-r1.zip" name="Pulse 1.0 Release 1 Download">Get Me</a></td>
    </tr>
    <tr class="odd">
      <td class="release">0.1 Alpha 2</td>
      <td>431 Kilobytes</td>
      <td>January 21, 2012</td>
      <td class="download-cell"><a href="http://www.withpulse.com/release/0.1-a2.zip" name="Pulse 0.1 Alpha 2 Download">Get Me</a></td>
    </tr>
  </tbody>
</table>