<footer>
  <ul><li><a href="/downloads">Downloads</a></li><li class="last"><a href="/release-notes">Release Notes</a></li>
  </ul>
  <div id="copyright">&copy; <a href="http://onmodulus.com" alt="Modulus Website">Modulus</a> 2012</div>
</footer>