<div id="header">
   <div id="logo">
      <a href="/"><img src="/img/logo.png" /></a>
   </div>

   <ul id="nav">
      <a id="nav-home" href="/" class="round-button">
         <div class="highlight">
            <img src="/img/home.png" />
         </div>
      </a>
      <li class="left-item <% if(page == 'downloads') { %>selected<% } %>"><a href="/downloads">Downloads</a></li>
      <li class="<% if(page == 'docs' || page == 'api') { %>selected<% } %>"><a href="/docs">Docs</a></li>
      <li class="<% if(page == 'demos') { %>selected<% } %>"><a href="/demos">Demos</a></li>
      <li class="<% if(page == 'about') { %>selected<% } %>"><a href="/about">About Us</a></li>
      <li class="right-item <% if(page == 'contact') { %>selected<% } %>"><a href="/contact">Contact</a></li>
      <div id="nav-highlight"></div>
   </ul>
</div>