<div id="header">
   <div id="logo">
      <img src="_/img/logo.png" />
   </div>

   <ul id="nav">
      <li class="left-item selected">Docs</li>
      <li>Demos</li>
      <li>About Us</li>
      <li class="right-item">Contact</li>
      <div id="nav-highlight"></div>
   </ul>
</div>