<div id="header">
   <div id="logo">
      <img src="/_/img/logo.png" />
   </div>

   <ul id="nav">
      <div id="nav-home" class="round-button">
         <div class="highlight">
            <img src="/_/img/home.png" />
         </div>
      </div>
      <li class="left-item <% if(page == 'docs') { %>selected<% } %>"><a href="/docs">Docs</a></li>
      <li class="<% if(page == 'demos') { %>selected<% } %>"><a href="/demos">Demos</a></li>
      <li class="<% if(page == 'about') { %>selected<% } %>"><a href="/about">About Us</a></li>
      <li class="right-item <% if(page == 'contact') { %>selected<% } %>"><a href="/contact">Contact</a></li>
      <div id="nav-highlight"></div>
   </ul>
</div>