<section id="description">
  <h2>2d JavaScript Game and Graphics Engine</h2>
</section>
<section id="features">
  <div id="feature-holder">
    <div class="feature"><a href="/docs/getting-started"><img src="/img/features/black_magic_feature.jpg" alt="Object Oriented. No Black Magic. Learn It Now!" /></a></div>
    <div class="feature hidden"><a href="/demos"><img src="/img/features/megaman_feature.jpg" alt="Check out the demos. Grab some code." /></a></div>
    <div class="feature hidden"><a href="/docs/video-build-your-first-game"><img src="/img/features/build_video_feature.png" alt="Video: Build Your First Game" /></a></div>
    <div class="feature hidden"><a href="/demos/physics"><img src="/img/features/physics_feature.png" alt="Release 1.3 is out. Get building with the physics module." /></a></div>
  </div>
  <div id="feature-select">
    <div class="selected">1</div>
    <div>2</div>
    <div>3</div>
    <div class="last">4</div>
  </div>
</section>
<section id="info">
  <div id="download-area">
    <h2>Download Pulse Now</h2>
    <a href="/downloads/releases/pulse.latest.zip" class="round-button link-button <%= buttonTest.option %>" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/latest#home']);"><div class="highlight">Download</div></a><p>v1.3-r1 (521kb)</p>
  </div>
  <div id="email-signup">
    <p>Sign up below to stay up-to-date with important news and updates.</p>
    <div id="signup-form">
      <form action="http://paranoidferret.us4.list-manage.com/subscribe/post?u=fd8445904704cfd7a5cc20920&amp;id=3e61fd96be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
        <input type="email" value="" name="EMAIL" class="email signup-email" id="mce-EMAIL" placeholder="Email Address" required>
        <a id="sign-up-link" href="#" class="round-button link-button green"><div class="highlight">Sign Up</div></a>
      </form>
    </div>
  </div>
</section>
<section id="info-buckets">
  <div class="bucket first">
    <img src="/img/github_logo.png" alt="Github" />
    <p>Open Source and loving it. Check out the code for yourself.</p>
    <a id="github-link" href="https://github.com/onmodulus/pulse" class="round-button link-button green"><div class="highlight">Github</div></a>
  </div>
  <div class="bucket">
    <img src="/img/ttt_play.png" alt="Tic-Tac-Together" />
    <p>It's easy to get started and building. Only takes a few minutes.</p>
    <a href="/docs/getting-started" class="round-button link-button green"><div class="highlight">Learn More</div></a>
  </div>
  <div class="bucket last">
    <img src="/img/html5_logo.png" alt="HTML5" />
    <p>Built using the latest HTML5 technologies and expanding regularly.</p>
    <a href="/docs/api" class="round-button link-button green"><div class="highlight">Dive In</div></a>
  </div>
</section>
<section id="extra-buttons">

</section>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<%- buttonTest.gacode %>