<section id="features">
  <div id="feature-holder">
    <div class="feature">This is a piece of text.</div>
    <div class="feature hidden">Second is a piece of text.</div>
    <div class="feature hidden">Third is a piece of text.</div>
    <div class="feature hidden">Fourth is a piece of text.</div>
  </div>
  <div id="feature-controls">
    <a href="#" id="feature-play">Play</a>
    <a href="#" id="feature-pause">Pause</a>
  </div>
  <div id="feature-select">
    <div class="selected">1</div>
    <div>2</div>
    <div>3</div>
    <div class="last">4</div>
  </div>
</section>
<section id="info">
  <div id="download-area">
    <h2>Download Pulse Now</h2>
    <a href="#" class="round-button link-button green"><div class="highlight">Download</div></a><p>v1.1-r1 (409kb)</p>
  </div>
  <div id="email-signup">
    <p>Sign up below to stay up-to-date with important news and updates.</p>
    <div id="signup-form">
      <form action="http://paranoidferret.us4.list-manage.com/subscribe/post?u=fd8445904704cfd7a5cc20920&amp;id=3e61fd96be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
        <input type="email" value="" name="EMAIL" class="email signup-email" id="mce-EMAIL" placeholder="Email Address" required>
        <a id="sign-up-link" href="#" class="round-button link-button green"><div class="highlight">Sign Up</div></a>
      </form>
    </div>
  </div>
</section>
<section id="extra-buttons">
  <a id="github-link" href="https://github.com/onmodulus/pulse" class="round-button link-button green"><div class="highlight">Github</div></a>
</section>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="_/js/main.js"></script>