<!doctype html>
<html lang="en">
<head id="www-withpulse-com" data-template-set="html5-reset">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Pulse Canvas Graphics Engine</title>

  <meta name="title" content="Pulse Canvas Graphics Engine">
  <meta name="description" content="Pulse is a Javascript and HTML 5 Canvas game engine that create anything from small breakout games to full platformers.">
  <meta name="keywords" content="pulse, game, engine, javascript, html5, canvas, play, programming">

  <meta name="Copyright" content="Paranoid Ferret Productions 2011. All Rights Reserved.">
  <link rel="shortcut icon" href="/_/img/favicon.ico">
  <link rel="stylesheet" href="/_/css/style.css">
</head>

<body>
<%- partial('header') %>
<% if(page == 'docs') { %>
<%- partial('docs/filelist') %>
<% } %>
<%- body %>
</body>
</html>