<h1>Release Notes</h1>
<div id="release-notes">
<h2><a name="1.2-r1">1.2 Release 1</a></h2>
<h3>Filename Changes</h3>
<ul>
  <li>pulse.debug.js has been changed to pulse.js</li>
  <li>pulse.debug.js now refers to the full version of the new Debug Panel feature</li>
  <li>Pulse distributions will now be in this form:<br/></br>
    <ul>
      <li>[name].js - full version used for debugging</li>
      <li>[name].min.js - minified version used for released products</li>
    </ul>
  </li>
</ul>
<h3>Bugs Squashed</h3>
<ul>
  <li>URLs for Bitmap Fonts can now have query strings</li>
  <li>Layers can now be hidden/shown via the visible property</li>
  <li>The parent property on layers is now set when adding it to a scene</li>
  <li>Engine constructor documentation was corrected to show size as a single object with width/height properties, instead of two separate parameters</li>
  <li>Texture constructor documentation was corrected to show that a params object is passed and not a string</li>
</ul>
<h3>Improvements</h3>
<ul>
  <li>Optimized the move method on visual objects</li>
</ul>
<h3>New Features</h3>
<ul>
  <li>You can now remove plugins from an engine</li>
  <li>You can now remove assets from asset manager</li>
  <li>Events can now be bound using obj.on().<br/><br/>Example:<br/>
<pre>mySprite.on(‘click’, function(event){});</pre>
  </li>
  <li>You can now debug your code more efficiently using the Pulse Debug Panel<br/><br/><h4>Some key features include:</h4>
      <ul>
        <li>The ability to monitor performance statistics such as the FPS or draw times</li>
        <li>A simple to use, cross-browser compatible, console</li>
        <li>Inspect the properties of any node in your game without writing any console calls</li>
        <li>Visual debugging capabilities so you can see where and what your objects are doing, without needed to add extra drawing code</li>
        <li>All you have to do is include one file and the panel is ready to use</li>
      </ul>
  </li>
</ul>
<h2><a name="1.1-r2">1.1 Release 2</a></h2>
<h3>Bugs Squashed</h3>
<ul>
  <li>Some non-mouse events will no longer throw an error</li>
</ul>
<h2><a name="1.1-r1">1.1 Release 1</a></h2>
<h3>Bugs Squashed</h3>
<ul>
  <li>Bitmap fonts now correctly take letter offset into account</li>
  <li>Layer canvases will now currently default to the size of their parent</li>
  <li>The update loop will now only run 20 updates when re-activating an inactive browser tab</li>
  <li>You can now remove all visual-type objects from layers</li>
  <li>Click events will no longer fire on hidden nodes</li>
  <li>Nodes added to layers are not flagged for visual updating</li>
  <li>Sound assets will no longer throw a loading error</li>
  <li>pulse.Ready nows handles situations where the body is already loaded</li>
</ul>
<h3>New Features</h3>
<ul>
  <li>Engines can now be hidden, allowing you to pause all pulse-related logic</li>
  <li>Added addScene, removeScene, activateScene, and deactivateScene to Engine</li>
  <li>Layer.removeNode can take in a node object as well as the name of the node</li>
  <li>Added support for touch events
    <ul class="internal">
      <li>touchstart, touchmove, and touchend are now bindable events</li>
      <li>mousedown, mousedown, and mouseup events are mapped to their corresponding touch events if touch events are supported</li>
      <li>click events are also mapped, so you can bind to click on touch devices</li>
    </ul>
  </li>
  <li>Added pulse.support.touch that tells you if touch events are supported</li>
</ul>
<h2><a name="1.0-r1">1.0 Release 1</a></h2>
<h3>API Changes</h3>
<ul>
  <li>Height and Width have been removed as params for engine and layer constructor.<br/>Anywhere you have created an engine or layer object you need to convert any width/height params passed into the constructor into a size object, just like you would do for a sprite.<br/><br/>
Example<br/>
<pre>var myLayer = new pulse.Layer({ width: 100, height: 100 });</pre>
Becomes<br/>
<pre>var myLayer = new pulse.Layer({ size: {width: 100, height: 100}});</pre>
  </li>
</ul>
<h3>Bugs Squashed</h3>
<ul>
  <li>Layers added to scene after scene has been activated do not show up</li>
  <li>AssetManager.percentLoaded was not correct in all cases</li>
  <li>Removed inline iFrame support from engine because it doesn't work properly</li>
  <li>Lots of smaller fixes</li>
</ul>
<h3>Improvements</h3>
<ul>
  <li>All size declarations on object params are consistent</li>
</ul>
<h3>New Features</h3>
<ul>
  <li>Added mouse over and mouse out events</li>
  <li>Add generic text files asset type</li>
  <li>If update time is too long we sub divide it to keep everything around 30fps</li>
  <li>Game window now removes focus from other elements on page when it receives focus</li>
  <li>Plugin system has been added</li>
  <li>Added support for negative rotation values</li>
  <li>Added event to AssetManager for progressChanged</li>
  <li>Added parent property to node and set it when it's added as a child</li>
  <li>Added shadow effect properties to visual</li>
  <li>Added move action for moving sprites over a period of time</li>
</ul>
</div>