/* Fonts */

@font-face {
    font-family: 'OmnesRegular';
    src: url('../fonts/omnes-webfont.eot');
    src: url('../fonts/omnes-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-webfont.woff') format('woff'),
         url('../fonts/omnes-webfont.ttf') format('truetype'),
         url('../fonts/omnes-webfont.svg#OmnesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="text"] {
    -webkit-appearance: none;
}
::-webkit-input-placeholder {
   color: #888;
}
input:-moz-placeholder {
   color: #888;
}


/* Site */
h1, h2, h3 {
  font-family: 'OmnesRegular', Geneva, Tahoma, Verdana, sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #CCFF00;
}

a:hover {
  text-decoration: underline;
}

body {
  background: #000 url('../img/background.png');
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #CCC;
  line-height: 20px;
}

caption {
  font-size: 12px;
}

#main {
  width: 700px;
  margin: 0 auto;
  padding: 0 10px;
}

#header {
  margin: 0 0 35px;
  text-align: center;
}

#logo {
  height: 92px;
  margin: 15px 0 5px;
}

label, input, textarea {
  display: block;
}

label {
  margin: 0 0 5px;
  display: none;
}

input.text-input,
textarea {
  font-family: 'OmnesRegular', Geneva, Tahoma, Verdana, sans-serif;
  height: 26px;
  width: 200px;
  padding: 4px 15px;
  line-height: 26px;
  border-radius: 18px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  background: rgba(100,100,100,0.3);
  color: #CCC;
  margin: 0 0 10px;
  font-size: 16px;
}

textarea {
  width: 400px;
  height: 150px;
  padding: 5px 15px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input.text-input.error,
textarea.error {
  border: 2px solid #8f3016;
}

/* Generic Elements */
.hidden {
  display: none;
}

.round-button {
  height: 34px;
  line-height: 34px;
  border-radius: 18px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  position: relative;
}

.round-button .highlight {
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  top: 0px;
  left: -2px;
  border-radius: 18px;
  z-index: -1;
}

.round-button:active {
  box-shadow: 0px 0px 30px black inset;
}

.link-button {
  display: block;
  height: 32px;
  float: left;
  text-shadow: 0px 0px 10px rgba(168, 426, 33, 0.8);
  font-family: 'OmnesRegular', Geneva, Tahoma, Verdana, sans-serif;
  line-height: 30px;
  font-size: 18px;
  background: transparent;
}

.link-button .highlight {
  height: 33px;
  padding: 0 15px;
  margin-right: -3px;
}

.link-button:hover {
  text-decoration: none;
}

.green {
  color: #ccff00;
}

/* Nav */
#nav-home {
  width: 34px;
  left: -55px;
  position: absolute;
}

#nav-home .highlight {
  width: 35px;
}

#nav-home img {
  position: absolute;
  top: 5px;
  left: 9px;
}

#nav {
  font-family: 'OmnesRegular', Geneva, Tahoma, Verdana, sans-serif;
  font-size: 18px;
  height: 34px;
  margin: auto;
  line-height: 34px;
  display: inline-block;
  list-style-type: none;
  text-shadow: 1px 1px 3px black;
  border-radius: 18px;
  position:relative;
}

#nav-highlight {
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  width: 99.7%;
  border-radius: 18px;
  top: 2px;
  z-index: -1;
}

#nav li {
  float: left;
  padding-left: 12px;
  padding-right: 12px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-left: 0;
}

#nav li a:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  color: #ccff00;
}

#nav li a {
  color: #999999;
  text-decoration: none;
}

#nav .selected a {
  color: #ccff00;
}

#nav .selected {
  box-shadow: 0px 0px 30px black inset;
}

#nav .left-item {
  border-radius: 18px 0px 0px 18px;
  padding-left: 15px;
  border-left: 2px solid rgba(0, 0, 0, 0.4);
}

#nav .right-item {
  border-radius: 0px 18px 18px 0px;
  padding-right: 15px;
}

/* Footer */
footer {
  position: relative;
  clear: both;
  padding: 30px 0;
  text-align: center;
  font-size: 11px;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=5);
}

footer ul {
  display: inline-block;
}

footer li {
  display: inline-block;
  padding: 0 5px;
  margin: 0;
  text-align: right;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

footer li.last {
  border: 0;
  padding-right: 0;
}

#copyright {
  position: absolute;
  top: 31px;
  right: 0;
  font-size: 10px;
}

/* Home Features */
#features {
  margin: 0 0 25px;
  position: relative;
}

#feature-holder {
  position: relative;
  width: 700px;
  height: 285px;
}

.feature {
  position: absolute;
  width: 700px;
  height: 285px;
  background: #CCC;
  color: #333;
  box-shadow: 0px 0px 10px black;
  overflow: hidden;
}

.feature a {
  display: block;
}

#content .feature img {
  margin: 0;
}

#feature-controls {
  float: right;
  margin-top: 20px;
  margin-right: 297px;
  width: 12px;
  position: relative;
}

#feature-play,
#feature-pause {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 12px;
  height: 11px;
  background: url('../img/play_pause.png') no-repeat;
  font-size: 0;
  text-indent: -9999px
}

#feature-play {
  display: none;
}

#feature-pause {
  background-position: -12px 0;
}

#feature-select {
  text-align: center;
  height: 11px;
  font-size: 0;
  margin-top: 20px;
}

#feature-select div {
  display: inline-block;
  width: 8px;
  height: 8px;
  text-indent: -9999px;
  font-size: 0px;
  background: #000;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 12px;
}

#feature-select div.selected {
  background: #c0c0c0;
}

#feature-select div.last {
  margin: 0;
}

/* Home Info */
#info {
  margin-bottom: 30px;
  overflow: hidden;
}

#description h2 {
  font-size: 28px;
  text-align: center;
  letter-spacing: 1px;
}

#download-area {
  width: 349px;
  float: left;
  padding: 15px 0;
  border-right: 2px solid #272525;
  font-size: 14px;
}

#download-area h2 {
  font-size: 35px;
}

#download-area .link-button {
  margin-right: 15px;
  text-shadow: 0px 0px 10px rgba(30, 30, 30, 0.8);
}

#download-area .green {
  background: #CF0;
  color: #222;
}

#download-area .black {
  color: #CF0;
}

#download-area .black.link-button {
  text-shadow: 0px 0px 10px rgba(168, 426, 33, 0.8);
}

#download-area .red {
  background: #D83212;
  color: #222;
}

#download-area .blue {
  background: #028EF0;
  color: #222;
}

#download-area .highlight {
  z-index: 1;
}

#download-area p {
  line-height: 36px;
}

#email-signup {
  width: 314px;
  float: left;
  padding-left: 35px;
}

#email-signup p {
  margin-bottom: 20px;
}

#email-signup input {
  font-family: 'OmnesRegular', Geneva, Tahoma, Verdana, sans-serif;
  float: left;
  height: 36px;
  width: 180px;
  line-height: 36px;
  margin-right: 10px;
  background: transparent;
  box-shadow: 0px 0px 30px black inset;
  border-radius: 18px;
  border: 0;
  padding: 0 15px;
  color: #CCC;
  font-size: 16px;
}

#extra-buttons {
  clear: both;
}

/* Home Buckets */
#info-buckets {
  padding: 30px 0 0;
  border-top: 2px solid #272525;
}

.bucket {
  width: 202px;
  padding: 5px 15px;
  float: left;
  border-right: 2px solid #272525;
  text-align: center;
}

.bucket.first {
  margin-left: 0;
}

.bucket.last {
  margin-right: 0;
  border: 0;
}

#content .bucket p {
  text-align: left;
  padding: 0 10px;
  margin-bottom: 15px;
}

.bucket .link-button {
  display: inline-block;
  float: none;
}

/* Content */
#content {
  font-size: 14px;
}

#content p, #content img {
  margin-bottom: 20px;
}

#content ul {
  margin-bottom: 40px;
}

#content li {
  margin-bottom: 6px;
}

/* Docs */
#docs-index {
  width: 215px;
  float: left;
  font-size: 11px;
  line-height: 16px;
  font-weight: normal;
  font-family: 'Monaco', courier, monospace;
}

#docs-index a:hover {
  text-decoration: underline;
}

#docs-index h2 {
  float: left;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 5px;
}

.classListLink {
  float: right;
  margin-right: 10px;
  margin-top: 8px;
  font-size: 12px;
}

.classList {
  clear: both;
  border-top: 2px solid #272525;
  box-shadow: 0 -1px 0 rgba(76,76,76.0.34);
  padding: 10px 10px 10px 0;
}

#docs-content {
  width: 473px;
  float: right;
  padding-left: 10px;
  border-left: 2px solid #272525;
  box-shadow: -1px 0 0 rgba(76,76,76.0.34);
}

#docs-content h1 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 5px;
}

#docs-content p {
  margin: 0;
}

#docs-content.class-index h1 {
  margin-bottom: 15px;
}

#docs-content.class-index h2 {
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 3px;
}

#docs-content.class-index p {
  font-weight: normal;
  font-size: 12px;
}

#docs-content.class-index div {
  margin-bottom: 8px;
  padding: 0 0 8px;
  border-bottom: 1px solid rgba(39, 37, 37, 0.66);
}

#docs-content .description {
  font-size: 12px;
}

#docs-content .fixedFont {
  font-family: 'Monaco', courier, monospace;
  font-size: 12px;
  color: #48C7C3;
}

#docs-content td .fixedFont {
  color: #CCC;
  font-size: 14px;
}

#docs-content .fixedFont .light {
  color: #CCC;
  font-size: 14px;
  font-style: italic;
}

#docs-content .fixedFont b {
  color: #CCFF00;
  font-size: 14px;
}

#docs-content .em,
#docs-content i {
  font-style: italic;
  font-weight: normal;
  font-size: 10px;
}

#docs-content table {
  margin: 10px 0 20px;
  width: 100%;
  border: 2px solid rgba(39, 37, 37, 0.66);
}

#docs-content table caption {
  font-size: 20px;
  text-align: left;
  line-height: 20px;
  margin: 0 0 8px;
}

#docs-content thead {
  display: none;
}

#docs-content td {
  padding: 5px;
  border-bottom: 2px solid rgba(39, 37, 37, 0.66);
}

#docs-content td.attributes {
  font-family: 'Monaco', courier, monospace;
  font-size: 14px;
  color: #48c7c3;
  text-align: right;
}

#docs-content .inheritsList dt {
  font-size: 12px;
}

#docs-content .inheritsList dd {
  font-size: 12px;
  padding-left: 20px;
  padding-bottom: 5px;
}

#docs-content td.nameDescription {
  width: 80%;
}

#docs-content .sectionTitle {
  background: #272525;
  font-size: 18px;
  padding: 5px;
  margin: 20px 0 5px;
}

#docs-content .detailList {
  background: #272525;
  padding: 5px 20px;
  margin: 5px 0 0;
  font-size: 13px;
  font-family: 'Monaco', courier, monospace;
}

#docs-content .detailList dt.heading {
  padding: 0;
}

#docs-content .detailList dt {
  padding: 0 20px;
}

#docs-content .detailList dd {
  padding: 0 0 0 40px;
  font-size: 12px;
}

#docs-content hr {
  height: 2px;
  background: rgba(39, 37, 37, 0.66);
  border: 0;
}

/* Demos */
.demo {
  padding: 20px 50px;
}

#content .demo p {
  margin: 0 0 5px;
}

#gameWindow {
  margin: 0 0 5px;
}

#demo-list img {
  float: left;
  margin: 0 10px 0 0;
}

#demo-list li {
  overflow: hidden;
  margin: 0 0 20px;
}

/* About */
#feature-list {
  padding : 0 0 0 20px;
}

#feature-list li {
  list-style: disc;
}

#team-list li {
  clear: both;
  margin: 0 0 20px;
}

#team-list h3 {
  margin-bottom: 3px;
}

#team-list img {
  float: left;
  margin-right: 10px;
}

/* Contact */
#contact-submit {
  padding: 0 12px;
  height: 36px;
}

label.error {
  color: #e84e24;
  display: none !important;
}

/* Downloads */
#current-release {
  margin-bottom: 5px;
}

#current-release span {
  font-size: 11px;
  padding-left: 10px;
}

#current-release-notes {
  display: block;
  margin-bottom: 40px;
}

table {
  width: 100%;
}

table td, table th {
  padding: 5px;
  text-align: left;
}

tr.odd {
  background: rgba(0,0,0,0.25);
}

/* Release Notes */
#release-notes ul {
  padding-left: 20px;
}

#release-notes li {
  list-style: disc;
}

#release-notes ul.internal {
  margin: 0;
}






