<h1>Demos</h1>

<ul id="demo-list">
  <li><a href="/demos/hello-world" title="Hello World Demo"><img src="/img/hello_world_demo.png" alt="Hello World" /></a> <h3><a href="/demos/hello-world" title="Hello World Demo">Hello World</a></h3>It's about as simple as it gets.</li>
  <li><a href="/demos/megaman" title="Megaman Demo"><img src="/img/megaman_demo.png" alt="Megaman" /></a> <h3><a href="/demos/megaman" title="Megaman Demo">Megaman</a></h3>Demo showing off a nice simple platformer start.</li>
  <li><a href="/demos/debug-ball-world" title="Ball World Debug Demo"><img src="/img/ballworld_demo.png" alt="Megaman" /></a> <h3><a href="/demos/debug-ball-world" title="Ball World Debug Demo">Ball World with Debug Module</a></h3>Get familiar with the debugging module with this simple demo.</li>
  <li><a href="/demos/snake" title="Snake Demo"><img src="/img/snake_demo.png" alt="Snake" /></a> <h3><a href="/demos/snake" title="Snake Demo">Snake</a></h3>Playable version of the classic snake game.</li>
</ul>