<h1>Megaman</h1>

<div class="demo">
  <p>Click anywhere in the game window to begin playing.</p>
  <div id="gameWindow" style="width:600px;height:400px;"></div>
  <p>Jump - space&nbsp;&nbsp;&nbsp;&nbsp;Move - left/right arrows</p>
</div>

<a href="/downloads/demos/megaman.zip" class="round-button link-button green" title><div class="highlight">Download Code</div></a>

<script src="/js/box2d.js" type="text/javascript"></script>
<script src="/js/pulse.js" type="text/javascript"></script>
<script src="/js/pulse.physics.js" type="text/javascript"></script>
<script src="/demos/megaman/js/man.js" type="text/javascript"></script>
<script src="/demos/megaman/js/level.js" type="text/javascript"></script>
<script src="/demos/megaman/js/megaman.js" type="text/javascript"></script>