<h1>Physics Module Demo</h1>

<div class="demo">
  Shape Type:
  <select id="shape-type">
    <option selected="selected">Box</option>
    <option>Circle</option>
    <option>Convex Shape</option>
  </select>
  (Click to Create a Shape)
  <div id="game-window" style="width:640px;height:480px;background:#EFEFEF;"></div>
</div>

<a href="/downloads/demos/physicsdemo.zip" class="round-button link-button green" title><div class="highlight">Download Code</div></a>

<script src="/js/pulse.js" type="text/javascript"></script>
<script src="/js/pulse.physics.js" type="text/javascript"></script>
<script src="/demos/physics/js/physics.js" type="text/javascript"></script>